<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registeration</title>
  </head>

  <body>
    <div
      class="mail-template-wrapper"
      style="padding: 40px; width: 650px;
      margin: auto; border: 1px solid #d2d2d2;"
    >
      <table
        style="margin: 0 auto"
        border="0"
        width="100%"
        cellspacing="0"
        cellpadding="0"
        align="center"
      >
        <tbody>
          <tr>
            <td>
              <table
                style="text-align: center; padding: 17px 0"
                border="0"
                width="100%"
                cellspacing="0"
                cellpadding="0"
                bgcolor="#03396D"
              >
                <tbody>
                  <tr>
                    <td><a
                        title="VK INVESTMENTS"
                        href="http://3.109.250.135:3001/"
                      ><img
                          src="http://3.109.250.135:3001/logo.svg"
                          alt="VK INVESTMENTS"
                        /></a></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr>
            <td>
              <table
                style="padding: 20px"
                border="0"
                width="100%"
                cellspacing="0"
                cellpadding="0"
                bgcolor="#eeeeee"
              >
                <tbody>
                  <tr>
                    <td style="padding: 0" width="100%">
                      {{content}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr>
            <td>
              <table
                style="padding: 15px 20px"
                border="0"
                width="100%"
                cellspacing="0"
                cellpadding="0"
                align="center"
                bgcolor="#03396D"
              >
                <tbody>
                  <tr>
                    <td style="padding: 0" width="70%">
                      <table
                        border="0"
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                      >
                        <tbody>
                          <tr>
                            <td style="padding: 0 0 10px">
                              <p
                                style="font-size: 12px; color: #fff; font-weight: 400; margin: 0"
                              >Copyright @2023 VK INVESTMENTS</p>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding: 0 0 10px">
                              <p
                                style="font-size: 12px; color: #fff; font-weight: 400; margin: 0"
                              >Call: +1-647-945-5271 Email:
                                info@vk-rise-investments.com</p>
                            </td>
                          </tr>
                          <tr>
                            <td><a
                                style="font-size: 12px; color: #fff; font-weight: 400; font-family: arial; margin: 0; text-decoration: none"
                                href="http://3.109.250.135:3001/privacy-policy"
                              >Privacy policy</a>
                              <a
                                style="font-size: 12px; color: #03396D; font-weight: 400; font-family: arial; margin: 0; text-decoration: none"
                                href="http://3.109.250.135:3001/terms"
                              >Terms & Conditions</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td style="padding: 0" align="right">
                      <table
                        border="0"
                        width="60%"
                        cellspacing="0"
                        cellpadding="0"
                      >
                        <tbody>
                          <tr>
                            <td style="padding: 0 0 10px" colspan="4">
                              <p
                                style="font-size: 12px; color: rgba(255, 255, 255, 1); font-weight: 600; font-family: arial; margin: 0"
                              >Follow us on</p>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding: 0 0 10px"><a href="#">
                                <span
                                  style="border-radius: 0.5rem; width: 30px; height: 30px; background: #03396D"
                                >
                                  <img
                                    src="http://3.109.250.135:3001/instagram.svg"
                                  />
                                </span>
                              </a></td>
                            <td style="padding: 0 0 10px"><a href="#"><span
                                  style="border-radius: 0.5rem; width: 30px; height: 30px; background: #03396D"
                                >
                                  <img
                                    src="http://3.109.250.135:3001/facebook.svg"
                                  />
                                </span></a></td>
                            <td style="padding: 0 0 10px"><a href="#">
                                <span
                                  style="border-radius: 0.5rem; width: 30px; height: 30px; background: #03396D"
                                >
                                  <img
                                    src="http://3.109.250.135:3001/linkedin.svg"
                                  />
                                </span>
                              </a></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>

</html>